.toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 53px;
  align-items: center;
  background-color: #fff;
  font-weight: 600;
  outline: none;
  opacity: 1;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
}
.textheader {
  position: absolute;
  color: #000;
  padding-left: 40px;
  padding-top: 14px;
  top: 0;
  font-size: 18px;
  margin: auto;
}
.toolnav {
  float: right;
}

.dropdown object {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.1s;
  color: #000;
  max-height: 1px;
  
}

.dropdown:hover object{
  display: block;
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
}

.toolnav a:hover {
  background-color: rgb(148, 144, 144);
  color: black;
}
.seperator {
  color: black;
  top: 50px;
  left: 0px;
  right: 0px;
  height: 2px;
  display: inherit;
  background-color: #000;
  position: absolute;
  object-position: center;
}