<p>List short welcome message about me here. Include fancy links to go to the other pages below.</p>

<p>I've developed on every level of machines. From the digital logic, to assembly, to a compiler, and to hight level language. </p>

<p>Check out my projects</p> <p>I've worked on a lot of various projects, here's some of my favorite along with my GitHub</p>          
<p>Resume</p> <p> My automatically updated resume.</p>
<p>My Style</p> <p>Hear about how I tackle each of my projects and the steps I take to see them through.</p>


<p>Together, let's make something great.</p>