body {
    position: absolute;
    display: block;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 100px;
    align-items: center;
    text-align: center;
}
.topHead {
    background: #f5f8fa;
    margin: 53px 00px;
    border-bottom-style: solid;
    border-bottom-color: rgb(80, 80, 80);
    border-bottom-width: 1px;
    margin: auto;
    padding-top: 30pt;
    text-align: center;
    color: rgb(26, 26, 26);
    font-weight: 800;
}
.about{
    position: relative;
    display: inline-block;
    padding: 10px 0px 0px 10px;
    flex-direction: column;
    width: 200pt;
    vertical-align: middle;
}
.about hr{
    opacity: 0.5;
}
.breaker {
    display: block;
    width: 100%;
    position: relative;
    padding : 0;
    
}

.breaker hr{
    display: block;
    width: 300pt;
    position: relative;
    padding : 0;
    opacity: 0.5;
}
div object {
    display: inline-block;
    flex-direction: column;
    vertical-align: top;
    text-align: center;
    align-items: center;
    width: 250pt;
    margin: auto;
    background: #005baf;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: rgb(170,170,170);
    background: radial-gradient(circle, rgb(90, 90, 90) 0%, rgba(51,51,51,1) 100%);
    background: transparent;
}
.plot img{
    padding-bottom: 10px;
}
.plot h2{
    font-weight: 800;
    color: #2e6fac;
}
.plot h3{
    color: black;
    width: 200px;
    margin: auto;
    padding-bottom: 20px;
    font-weight: 600;
}

.button {
    background-color: #2e6fac;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }

.buttonuc {
    background-color: #ac2e2e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }